name: Backend CI

on:
  pull_request:
    branches: [develop]

jobs:
  build:
    name: Validaci贸n del c贸digo
    runs-on: ubuntu-latest

    steps:
      - name: Checkout del c贸digo
        uses: actions/checkout@v3

      - name: Instalar Go
        uses: actions/setup-go@v4
        with:
          go-version: 1.21

      - name: Descargar dependencias
        run: go mod download

      - name: Verificar formato del c贸digo
        run: go fmt ./...

      - name: Ejecutar build
        run: go build ./...

      - name: Ejecutar tests
        run: go test ./...
